#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 750px;
    background-color: #040D12;
}

#contact h1{
    color: cyan;
    font-weight: 400;
    margin-top: 60px;
}

.nun{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

#tot{
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width:600px){
    #contact{
        height: 800px;
    }
}