#bar{
    height: 100vh;
    width: 180px;
    border-right: 1px solid #183D3D;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 130px;
    height: 30px;
    margin-top: 20px;
    user-select: none;
}
.item svg{
    margin-left: 10px;
}
.item:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.353);

}
.item h4{
    color: white;
    font-weight: 400;
    margin-left: 15px;
}

@media only screen and (max-width:600px){
    #bar{
        height: 220px;
        width: 50px;
        z-index: 7;
        background-color: rgba(59, 59, 59, 0.315);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top: 1px solid #183D3D;
        border-bottom: 1px solid #183D3D;
        border-right: 1px solid #183D3D;
        position: fixed;
        top: 50px;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .item{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 30px;
        height: 30px;
        margin-top: 20px;
        user-select: none;
    }
    .item svg{
        margin-left: 0px;
    }
    .item:hover{
        cursor: pointer;
        background-color: transparent;
    
    }
    .item h4{
      display: none;
    }
}