.lab{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 300px;
}

.bab{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lab2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.lab3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
   
    
}
.lab5{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}
.lab8{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
}

.lab2 a{
    color: cyan;
    margin-top: 25px;
    text-decoration: none;
}
.lab3 a{
    color: cyan;
    margin-top: 25px;
    text-decoration: none;
}
.lab5 a{
    color: cyan;
    margin-top: 25px;
    text-decoration: none;
}
.lab8 a{
    color: cyan;
    margin-top: 25px;
    text-decoration: none;
}

.gayab{
    display: none;
}